<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>KG PG 결제</title>
  <style>
    html,body {height: 100%;}
    form {overflow: hidden;}
  </style>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/core.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/sha256.js"></script>
  <script type="text/javascript" src='https://code.jquery.com/jquery-3.5.1.min.js'></script>
  <script type="text/javascript">
    $(function() {

    })
    function kgPgStart(){
      let listData = {
        'pgType': 'KG_MOBILIANS',
        'sid': '240328144666',
        'cash_code': 'CN',
        'product_name': '프론트커버',
        'trade_id': 'TEST1231239',
        'amount.total': 1000,
        'site_url': 'NAV',
        'ok_url': 'http://localhost:28080/kg/payment/success',
        'call_type': 'P',
        'close_url': 'http://localhost:28080/kg/payment/cancel-close',
        'fail_url': 'http://localhost:28080/kg/payment/fail'
      };

      cfn_ajaxRequest('/api/payment/request', 'POST', listData, 'payment-kg');
    }

    function kgPgCashStart(){
      let listData = {
          'pgType': 'KG_MOBILIANS',
          'tid': '240328144666',
          'cash_code': 'CN'
      };

      cfn_ajaxRequest('/api/payment/request/cash', 'POST', listData, 'payment-kg-cash');
    }

    function kgPgPurchase(){
     let listData = {
       'pgType': 'KG_MOBILIANS',
       'sid': '240328144666',
       'trade_id': 'TEST1231237',
       'cash_code': 'CN',
       'pay_token': '250731000249610'
     };

     cfn_ajaxRequest('/api/payment/purchase', 'POST', listData, 'payment-kg');
   }

    function kgPgCancel(){
         let listData = {
           'pgType': 'KG_MOBILIANS',
           'sid': '240328144666',
           'trade_id': 'TEST1231239',
           'cash_code': 'CN',
           'pay_token': '250731000249745',
           'amount': '1000',
           'cancel_type': 'C',
           'part_cancel': 'N',
           'cn_tax_ver': 'CPLX'
         };

         cfn_ajaxRequest('/api/payment/cancel', 'POST', listData, 'payment-kg');
       }

    function kgPgRefund(){
       let listData = {
         'pgType': 'KG_MOBILIANS',
         'sid': '240328144666',
         'trade_id': 'TEST1231239',
         'cash_code': 'RA',
         'pay_token': '250731000249745',
         'amount': '1000',
         'cancel_type': 'R',
         'part_cancel': 'N',
         'bank_code': '004',
         'account_no': '498102-01-287924',
         'account_name': '류경윤',
         'refund_amount': '1000'
       };

       cfn_ajaxRequest('/api/payment/cancel', 'POST', listData, 'payment-kg');
     }

    function fnPayClose(){
      $('#kgPaymentFrame').hide().attr('src', '');
       alert('사용자가 결제를 취소했습니다.');
    };

    function cfn_ajaxRequest(url, method, data, callbackId){
    	let callback = url.split('/').reverse()[0];
    	if(callbackId != undefined && callbackId != null) {
    		callback = callbackId;
    	}

    	$.ajax({
    		url: url,
    		type: method,
    		data: data,
    		dataType: 'json',
    		contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
    		async: true,
    		success: function(resData){
    			fn_callback(callback, resData);
    		}
    	});
    }

    //요청 결과 처리 ajax callback
  function fn_callback(callbackId, resData) {
    //결제창 정보 조회
    if(callbackId === 'payment-kg'){
      console.log(resData);
      let payUrl =  resData.data.pay_url;
      $('#kgPaymentFrame').attr('src', payUrl).show();
    }
    else if(callbackId === 'payment-kg-cash'){
      console.log('성공');
    }
  }

  $(window).on('message', function (event) {
    var originalEvent = event.originalEvent;

    // 보안상 origin 확인 추천
    const allowedOrigin = 'http://localhost:28080';

    if (originalEvent.origin !== allowedOrigin) return;

    const data = originalEvent.data;

    if (data && data.type === 'KG_PAYMENT_SUCCESS') {
        $('#kgPaymentFrame').hide().attr('src', '');
        alert('결제가 완료되었습니다!');
        console.log("result :", data.result);
    }
    else if (data && data.type === 'KG_PAYMENT_CLOSED') {
         $('#kgPaymentFrame').hide().attr('src', '');
         alert('사용자가 결제를 취소했습니다.');
    }
  });
  </script>
</head>
<body>
  <div>
    <a href="#" class="btn_blue" onClick="kgPgStart();">결제 요청</a>
  </div>
  <div>
    <a href="#" class="btn_blue" onClick="kgPgCashStart();">결제창 호출</a>
  </div>
  <div>
    <a href="#" class="btn_blue" onClick="kgPgPurchase();">수동 매입</a>
  </div>
  <div>
    <a href="#" class="btn_blue" onClick="kgPgCancel();">취소 요청</a>
  </div>
  <div>
    <a href="#" class="btn_blue" onClick="kgPgRefund();">환불 요청</a>
  </div>
  <iframe id="kgPaymentFrame" style="display: none; width: 100%; height: 600px; border: none;">
  </iframe>
</body>
</html>